body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #FAFAFA;
    text-align: center;
}


.img-banner {
    width: 500;
    background-size: cover;
    background-position: center;
    
}