body {
    background-color: #f2f2f2;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2em;
    font-family: "Noto Sans", sans-serif;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 0 1rem; /* Adds space around content */
}

.img-banner {
    width: 100%; /* Make the image take full width of its container */
    max-width: 800px; /* Limit to original size on larger screens */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Prevent extra inline spacing */
    margin: 0 auto; /* Center image */
}